body{
font-family:Arial;
padding:20px;
}

h1{
text-align:center;
margin-bottom:30px;
}

.bg{
width:300px;
height:200px;
margin:20px auto;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-weight:bold;
}

.solid{
background-color:steelblue;
}

.image-repeat{
background-image:url("../images/backgrounds/bg1.jpg");
background-repeat:repeat;
background-size:100px;
}

.linear-gradient{
background:linear-gradient(to right, red, orange, yellow);
}

.radial-gradient{
background:radial-gradient(circle, purple, black);
}

.multiple-bg{
background-image:url("../images/backgrounds/bg2.jpg"), url("../images/backgrounds/bg3.jpg");
background-size:150px, cover;
background-repeat:no-repeat, no-repeat;
background-position:left top, center;
}

.blend-mode{
background-image:url("../images/backgrounds/bg1.jpg");
background-color:rgba(0,0,0,0.5);
background-blend-mode:multiply;
}
