body{
padding:20px;
}

.title{
text-align:center;
}

.roboto{
font-family:'Roboto',sans-serif;
}

.lobster{
font-family:'Lobster',cursive;
}

.montserrat{
font-family:'Montserrat',sans-serif;
}

.px{
font-size:20px;
}

.em{
font-size:2em;
}

.rem{
font-size:2rem;
}

.left{
text-align:left;
}

.center{
text-align:center;
}

.right{
text-align:right;
}

.underline{
text-decoration:underline;
}

.uppercase{
text-transform:uppercase;
}

.shadow{
font-size:30px;
text-shadow:2px 2px 5px gray;
}